In [2]:
import pandas as pd

df = pd.DataFrame({
    "Комнаты": [3, 1, 2, 3, 1, 3, 2, 1, 3, 1, 2],
    "Площадь": [51, 30, 45, 55, 45, 100, 71, 31, 53, 33, 43],
    "Этаж": [3, 1, 2, 1, 3, 3, 2, 2, 5, 3, 5],
    "Центр": [0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0],
    "Спальный1": [1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0],
    "Спальный2": [0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1],
    "Цена": [2200, 1600, 1900, 2000, 4500, 7000, 5000, 1700, 2100, 1500, 2000]
})

df

    Комнаты  Площадь  Этаж  Центр  Спальный1  Спальный2  Цена
0         3       51     3      0          1          0  2200
1         1       30     1      0          1          0  1600
2         2       45     2      0          1          0  1900
3         3       55     1      0          1          0  2000
4         1       45     3      1          0          0  4500
5         3      100     3      1          0          0  7000
6         2       71     2      1          0          0  5000
7         1       31     2      0          0          1  1700
8         3       53     5      0          0          1  2100
9         1       33     3      0          0          1  1500
10        2       43     5      0          0          1  2000

Задание №1

In [9]:
import numpy as np

def multiplication_order(A, B, C):
    a_rows, a_cols = A.shape
    b_rows, b_cols = B.shape
    c_rows, c_cols = C.shape
    
    multiplication_1 = a_rows * a_cols * b_cols + a_rows * b_cols * c_cols
   
    multiplication_2 = b_rows * b_cols * c_cols + a_rows * b_cols * c_cols

    if multiplication_1 <= multiplication_2:
        return "(AxB)xC"
    else:
        return "Ax(BxC)"

Задание №2

In [14]:
import numpy as np

def best_worst(X, Y):
    combined = np.column_stack((X, Y))
    corr_matrix = np.corrcoef(combined, rowvar=False)
    
    price_corr = corr_matrix[-1][:-1]
    
    max_corr_idx = np.argmax(np.abs(price_corr))
    min_corr_idx = np.argmin(np.abs(price_corr))
    
    return max_corr_idx, min_corr_idx

X = df.loc[:, ~df.columns.isin(['Цена'])]
Y = df['Цена']

best_worst(X, Y)

(3, 2)

Задание №3

In [21]:
import numpy as np

def corr_rank(X):
    corr_matrix = np.corrcoef(X, rowvar=False)
    rank = np.linalg.matrix_rank(corr_matrix)
    return rank

X = df.loc[:, ~df.columns.isin(['Цена'])]

corr_rank(X)

5

Задание №4

In [16]:
import numpy as np

def inverse_matrix(A):
    determinant = np.linalg.det(A)
    
    if abs(determinant) < 1e-25:
        return None
    else:
        return np.linalg.inv(A)

A = np.array([[1, 2], [2, 1]])
inverse_matrix(A)

array([[-0.33333333,  0.66666667],
       [ 0.66666667, -0.33333333]])

Задание №5

In [23]:
import numpy as np

def fit_model(X, y):
    XT_X = np.dot(X.T, X)
    XT_X_inv = np.linalg.inv(XT_X)
    XT_y = np.dot(X.T, y)
    return np.dot(XT_X_inv, XT_y)

X = df.loc[:, ~df.columns.isin(['Цена'])]
y = df['Цена']

fit_model(X, Y)

array([-574.12295766,   65.33255763,  141.80223878, 1566.16246224,
         12.32450391, -315.34552489])